@import url('https://fonts.googleapis.com/css2?family=La+Belle+Aurore&display=swap');

* {
    background-color: #252525;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;

}

/* nav bar */
.asideWrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    background-color: #444444;

}

aside {
    height: 100vh;
}

.navLinks a {
    font-size: 2rem;
    text-decoration: none;
    background-color: #444444;
    border-bottom: 1px solid rgba(255, 255, 255, .25);
}

.navLinks {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    height: 40%;
    width: inherit;
    flex-wrap: wrap;
    background-color: #444444;
}

.navFont a {
    color: white;
}


.icons {
    display: flex;
    list-style: none;
    font-size: 2rem;
    width: inherit;
    margin: 0;
    padding: 0;
    justify-content: center;
    background-color: #444444;
}

.icons a {
    background-color: #444444;
    color: white;
}

.fa {
    margin-left: 10px;
    margin-right: 10px;
    background-color: #444444;
}

/* main body */
.headBody {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-evenly;
}

.openingHead {
    margin-left: 3%;
}

.closingHead {
    margin-left: 3%;
}

.font {
    font-family: 'La Belle Aurore', cursive;
    font-size: 1.6rem;
    color: aqua;
}

.classColor {
    color: orange
}

/* this is the title on the page not h1 */
.title {
    display: flex;
    margin: 2% 0 2% 6%;
    align-items: center;
}

.title h1 {
    font-size: 2.8rem;

}

.title span {
    margin-top: 1%;
}

.openingTitle {
    margin-right: 1%;
}

.closingTitle {
    margin-left: 1%;
}

.exp {
    display: flex;
    flex-direction: column;
    height: max-content;
}

.openingh1 {
    margin-left: 6%;
}

.closingh1 {
    margin-left: 6%;
}

h2 {
    margin-left: 6%;
    font-size: 2.3rem;
}

.bodyTag p {
    font-size: 1.6rem;
    margin-left: 6%;
}

.openingP {
    margin-left: 6%;
}

.closingP {
    margin-left: 6%;
}

.whiteText {
    color: white;
}
.openingBody {
    margin-left: 3%;
}
.closingBody {
    margin-left: 3%;
}

/* footer */
footer {
    display: flex;
    color: white;
    flex-direction: column;
    justify-content: flex-end;
    width: 5%;
}