@import url('https://fonts.googleapis.com/css2?family=La+Belle+Aurore&display=swap');

* {
    background-color: #252525;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;

}

/* nav bar */
.asideWrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    background-color: #444444;

}

aside {
    height: 100vh;
}

.navLinks a {
    font-size: 2rem;
    text-decoration: none;
    background-color: #444444;
    border-bottom: 1px solid rgba(255, 255, 255, .25);
}

.navLinks {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    height: 40%;
    width: inherit;
    flex-wrap: wrap;
    background-color: #444444;
}

.navFont a {
    color: white;
}


.icons {
    display: flex;
    list-style: none;
    font-size: 2rem;
    width: inherit;
    margin: 0;
    padding: 0;
    justify-content: center;
    background-color: #444444;
}

.icons a {
    background-color: #444444;
    color: white;
}

.fa {
    margin-left: 10px;
    margin-right: 10px;
    background-color: #444444;
}

/* main body */
.headBody {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-evenly;
}

.openingHead {
    margin-left: 3%;
}

.closingHead {
    margin-left: 3%;
}

.font {
    font-family: 'La Belle Aurore', cursive;
    font-size: 1.6rem;
    color: aqua;
}

.classColor {
    color: orange
}

/* this is the title on the page not h1 */
.title {
    display: flex;
    margin: 2% 0 2% 6%;
    align-items: center;
}

.title h1 {
    font-size: 2.8rem;

}

.title span {
    margin-top: 1%;
}

.openingTitle {
    margin-right: 1%;
}

.closingTitle {
    margin-left: 1%;
}

.exp {
    display: flex;
    flex-direction: column;
    height: max-content;
}

.openingh1 {
    margin-left: 6%;
}

.closingh1 {
    margin-left: 6%;
}

h2 {
    margin-left: 6%;
    font-size: 2.3rem;
}

.bodyTag p {
    font-size: 1.6rem;
    margin-left: 6%;
}

.openingP {
    margin-left: 6%;
}

.closingP {
    margin-left: 6%;
}

.whiteText {
    color: white;
}
.openingBody {
    margin-left: 3%;
}
.closingBody {
    margin-left: 3%;
}

/* footer */
footer {
    display: flex;
    color: white;
    flex-direction: column;
    justify-content: flex-end;
    width: 5%;
}

@media screen and (max-width: 1024px) {
    header {
        position: fixed;
    }
    .headBody {
        padding-left: 24%;
    }

    h1 {
        font-size: 2rem;
    }

    article {
        width: 37%;
    }

    h2 {
        font-size: 1.6rem;
        margin-left: 30%;
    }
    .exp p {
        font-size: 1.2rem;
        margin-left: 30%;
    }
    .openingHead {
        margin-left: 10%;
    }
    .closingHead {
        margin-left: 10%;
    }
    .title {
        margin-left: 20%;
    }
    .openingBody {
        margin-left: 10%;
    }
    .closingBody {
        margin-left: 10%;
    }
    .openingh1 {
        margin-left: 20%;
    }
    .closingh1 {
        margin-left: 20%;
    }
    .openingP {
        margin-left: 20%;
    }
    .closingP {
        margin-left: 20%;
    }

    footer {
        margin-left: 20%;
        width: 20%;
    }
}
@media screen and (max-width: 480px) {
    header {
        position: fixed;
    }
    .navLinks a {
        font-size: 1.2rem;
    }
    .asideWrapper {
        width: min-content;
    }
    section {
        padding-left: 22%;
    }
    .font {
        font-size: 1rem
    }
    .title h1 {
        font-size: 1.4rem;
    }
    h2 {
        font-size: 1.2rem;
        margin-left: 2%;
    }

    .headBody {
        flex-direction: column;
        width: 100%;
    }

    .title {
        margin: 0 0 0 20%
    }
    body {
        flex-direction: column;
    }
    .openingh1 {
        margin-left: -5%;
    }
    .closingh1 {
        margin-left: -5%;
    }
    footer {
        margin-left: 80%;
        font-size: .6rem;
    }
    .openingP {
        margin-left: -5%;
    }
    .closingP {
        margin-left: -5%;
    }
    .exp p {
        margin-left: 2%;
    }

}