@import url('https://fonts.googleapis.com/css2?family=La+Belle+Aurore&display=swap');
* {
    background-color: #252525;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
    
}
body {
    display: flex;
}
/* nav bar */
.asideWrapper {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    background-color: #444444;
}
aside {
    height: 100vh;
    box-sizing: border-box;  
}
.navLinks a{
    font-size: 2rem;
    text-decoration: none;
    background-color: #444444;
    border-bottom: 1px solid rgba(255, 255, 255, .25);
}
.navLinks {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    height: 50%;
    width: inherit;
    flex-wrap: wrap;
    background-color: #444444;
}
.navFont a{
    color: white;
}


.icons {
    display: flex;
    list-style: none;
    font-size: 2rem;
    width: inherit;
    margin: 0;
    padding: 0;
    justify-content: center;
    background-color: #444444;
}
.icons a{
    background-color: #444444;
    color: white;
}

.fa {
    margin-left: 10px;
    margin-right: 10px;
    background-color: #444444;
}

/* main body */
.headBody {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-evenly;


}

.openingHead {
    margin-left: 3%;
}

.closingHead {
    margin-left: 3%;
}
.font {
    font-family: 'La Belle Aurore', cursive;
    font-size: 1.6rem;
    color: aqua;
}
.classColor {
    color:orange
}
.title {
    display: flex;
    margin: 5% 5%;
    align-items: center;
}
.title h1 {
    font-size: 2.8rem;
    color: white;
}
.title span {
    margin-top: 1%;
}
.openingTitle {
    margin-right: 1%;
}
.closingTitle {
    margin-left: 1%;
}

.bodyTag {
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    margin-left: 3%;
}
.bodyTag p {
    font-size: 1.6rem;
    margin-left: 6%;
    color: white;
}
.openingP {
    margin-top: 5%;
    margin-left: 4%;
}
.closingP {
    margin-left: 4%;
    margin-bottom: 5%;
}
/* footer */
footer {
    display: flex;
    color: white;
    flex-direction: column;
    justify-content: flex-end;
    width: 7%;
}

@media screen and (max-width: 480px) {
    header {
        position: fixed;
    }

    .navLinks a {
        font-size: 1.2rem;
    }

    .asideWrapper {
        width: min-content;
    }

    section {
        padding-left: 22%;
    }

    .font {
        font-size: 1rem
    }

    .title h1 {
        font-size: 1.4rem;
    }
    .bodyTag p {
        font-size: 1rem;
    }
    .title {
        margin: 0 0 0 8%
    }

    body {
        flex-direction: column;
    }

    footer {
        margin-left: 80%;
        font-size: .6rem;
        width: 12%;

    }

}
@media screen and (max-width: 1024px) {
    h1 {
        font-size: 2rem;
    }

    article {
        width: 37%;
    }

    article p {
        font-size: 1.2rem;
    }

    h2 {
        font-size: 1.6rem;
    }

    footer {
        margin-left: 20%;
        width: 20%;

    }

}
@media screen and (max-width: 480px) {
    footer {
        margin-left: 80%;
        font-size: .6rem;

    }

}
