@import url('https://fonts.googleapis.com/css2?family=La+Belle+Aurore&display=swap');

* {
    background-color: #252525;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;

}

/* nav bar */
.asideWrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    background-color: #444444;

}

aside {
    height: 100vh;
}

.navLinks a {
    font-size: 2rem;
    text-decoration: none;
    background-color: #444444;
    border-bottom: 1px solid rgba(255, 255, 255, .25);
}

.navLinks {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    height: 40%;
    width: inherit;
    flex-wrap: wrap;
    background-color: #444444;
}

.navFont a {
    color: white;
}


.icons {
    display: flex;
    list-style: none;
    font-size: 2rem;
    width: inherit;
    margin: 0;
    padding: 0;
    justify-content: center;
    background-color: #444444;
}

.icons a {
    background-color: #444444;
    color: white;
}

.fa {
    margin-left: 10px;
    margin-right: 10px;
    background-color: #444444;
}

/* main body */
.headBody {
    height: min-content;
}


.font {
    font-family: 'La Belle Aurore', cursive;
    font-size: 1.6rem;
    color: aqua;
}

.classColor {
    color: orange
}
img {
    float: left;
    width: 180px;
    height: 180px;
    object-fit: cover;
}


.headBody {
    display: flex;
    flex-wrap: wrap;

}

.whiteText {
    color: white;
}

.openingHead {
    margin-left: 4%;
}

.title {
    display: flex;
    align-items: center;
    margin: 1% 0 1% 8%;
}
h1 {
    font-size: 2.8rem;
    margin-left: 1%;
    margin-right: 1%;
}

.closingHead {
    margin-left: 4%;
}
.openingBody {
    margin-left: 4%;
}

.openingh1 {
    margin-left: 8%;
}
h2 {
    margin-left: 11%;
    font-size: 2.4rem;
}
.closingh1 {
    margin-left: 8%;
}

.openingSection {
    margin-left: 8%;
}
article {
    display: flex;
    width: 35%;
    margin-left: 11%;
    margin-top: 1%;
    
}
article p {
    text-align: center;


    margin-left: 10px;
    font-size: 1.5rem;

}
.closingSection {
    margin-left: 8%;
    
}
section {
    display: flex;
    flex-direction: column;
}
.headBody a {
    color: rgb(110, 110, 228);
}
/* footer */
footer {
    display: flex;
    color: white;
    flex-direction: column;
    justify-content: flex-end;
    width: 20%;
}

/* media query */

@media screen and (max-width: 1024px) {
    header {
        position: fixed;
    }
    section {
        padding-left: 25%;
    }
    img {
        float: left;
        width: 110px;
        height: 110px;
        object-fit: cover;
    }  
    h1 {
        font-size: 2rem;
    }
    article {
        width: 37%;
    }
    article p{
        font-size: 1.2rem;
    }
    h2 {
        font-size: 1.6rem;
    }
    footer {
        width: 30%;
    }
    
}

@media screen and (max-width: 480px) {
    header {
        position: fixed;
    }
    .navLinks a {
        font-size: 1.2rem;
    }
    .asideWrapper {
        width: min-content;
    }
    section {
        padding-left: 22%;
    }
    .font {
        font-size: 1rem
    }
    h1 {
        font-size: 1.4rem;
    }
    h2 {
        font-size: 1.2rem;
    }
    img {
        float: left;
        width: 70px;
        height: 70px;
        object-fit: cover;
    }
    .headBody {
        flex-direction: column;
        width: 100%;
    }
    article {
        width: 87%;
    }
    article p {
        font-size: .8rem;
        width: 40%;
    }
    .title {
        margin: 0 0 0 8%
    }
    body {
        flex-direction: column;
    }
    footer {
        margin-left: 70%;
        font-size: .6rem;
        
    }

}