@import url('https://fonts.googleapis.com/css2?family=La+Belle+Aurore&display=swap');

* {
    background-color: #252525;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;

}

/* nav bar */
.asideWrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    background-color: #444444;

}

aside {
    height: 100vh;
}

.navLinks a {
    font-size: 2rem;
    text-decoration: none;
    background-color: #444444;
    border-bottom: 1px solid rgba(255, 255, 255, .25);
}

.navLinks {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    height: 40%;
    width: inherit;
    flex-wrap: wrap;
    background-color: #444444;
}

.navFont a {
    color: white;
}


.icons {
    display: flex;
    list-style: none;
    font-size: 2rem;
    width: inherit;
    margin: 0;
    padding: 0;
    justify-content: center;
    background-color: #444444;
}

.icons a {
    background-color: #444444;
    color: white;
}

.fa {
    margin-left: 10px;
    margin-right: 10px;
    background-color: #444444;
}

/* main body */


.font {
    font-family: 'La Belle Aurore', cursive;
    font-size: 1.6rem;
    color: aqua;
}

.classColor {
    color: orange
}




/* footer */
footer {
    display: flex;
    color: white;
    flex-direction: column;
    justify-content: flex-end;
    width: 7%;
}